@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    background-color: rgb(69, 165, 101);
    display: flex;
    flex-direction: row;
}

/* Left Profile Section (It will be my description etc...) */

#left_profile {
    height: 100%;
    width: 300px;
    background-color: rgb(69, 165, 101);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile_picture {
    margin-top: 20px;
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#profile_name {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin-top: 8px;
    text-align: center;
}

#profile_subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #1b1b1b;
    text-align: center;
}

#profile_links {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-direction: row;
}

.profile_link {
    width: 38px;
    height: 38px;
    transition: transform 0.3s ease;
}

.profile_link:hover {
    opacity: 0.7;
}

#profile_about {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#profile_about_text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-top: 20px;
    padding: 0 10px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 93%;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1);
}

#profile_tags {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 93%;
    padding: 0 10px;
    justify-content: center;
}

.profile_tag {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    background-color: rgb(219, 255, 222);
    border-radius: 30px;
    padding: 5px 10px;
    width: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.profile_tag:hover {
    background-color: rgb(152, 255, 183);
}

/* Right Content Section */

#right_content{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(96, 226, 140);
    position: relative;
}

#right_content_title {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    margin-left: 40px;
    position: relative;
    z-index: 1;
}

#right_content_bg_canva {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


