@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}

/* Left Profile Section (It will be my description etc...) */

#left_profile {
    height: 100%;
    width: 15.625vw;
    min-width: 300px;
    background-color: #4b3e4b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile_picture {
    margin-top: max(20px, 1.04vw);
    width: max(150px, 7.8vw);
    height: max(150px, 7.8vw);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#profile_name {
    font-family: 'Raleway', sans-serif;
    font-size: max(30px, 1.56vw);
    font-weight: 600;
    color: #000000;
    margin-top: max(8px, 0.42vw);
    text-align: center;
}

#profile_subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: max(20px, 1.04vw);
    font-weight: 400;
    color: black;
    text-align: center;
}

#profile_links {
    display: flex;
    gap: max(10px, 0.52vw);
    margin-top: max(20px, 1.04vw);
    flex-direction: row;
}

.profile_link {
    width: max(38px, 1.98vw);
    height: max(38px, 1.98vw);
    transition: transform 0.3s ease;
}

.profile_link:hover {
    opacity: 0.7;
}

#profile_about {
    margin-top: max(20px, 1.04vw);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#profile_about_text {
    font-family: 'Raleway', sans-serif;
    font-size: max(16px, 0.83vw);
    font-weight: 400;
    color: #000000;
    margin-top: max(20px, 1.04vw);
    padding: 0 max(10px, 0.52vw);
    text-align: center;
    border: 1px solid #000000;
    border-radius: max(5px, 0.26vw);
    width: 93%;
    padding-bottom: max(10px, 0.52vw);
    padding-top: max(10px, 0.52vw);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1);
}

#profile_tags {
    margin-top: max(30px, 1.56vw);
    display: flex;
    flex-wrap: wrap;
    gap: max(8px, 0.42vw);
    width: 93%;
    padding: 0 max(10px, 0.52vw);
    justify-content: center;
}

.profile_tag {
    font-family: 'Raleway', sans-serif;
    font-size: max(15px, 0.78vw);
    font-weight: 400;
    color: #000;
    background-color: rgb(105, 105, 105);
    border-radius: max(30px, 1.56vw);
    padding: max(5px, 0.26vw) max(10px, 0.52vw);
    width: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.profile_tag:hover {
    background-color: rgb(167, 167, 167);
}

/* Right Content Section */

#right_content{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
}

#right_content_title {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    margin-left: 40px;
    position: relative;
    z-index: 1;
}

#right_content_bg_canva {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#right_parts_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
    margin-left: 40px;
    z-index: 1;
    backdrop-filter: blur(10px);
}

/*RESPONSIVE ICI*/

@media (max-width: 950px) {
    *, ::before, ::after {
        overflow: visible;
    }
    html,
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }
    body {
        height: auto;
        max-height: none;
        min-height: 100vh;
        flex-direction: column;
        background-color: black;
    }
    #left_profile {
        width: 100%;
        height: auto;
        min-width: 0;
        background-color: transparent;
        z-index: 1;
        position: relative;
    }
    #right_content {
        position: relative;
        width: 100%;
        height: 75vh;
        min-height: 420px;
        z-index: 0;
        background-color: black;
    }

    #right_content_bg_canva {
        width: 100%;
        height: 100%;
    }

    #profile_name {
        color: #777777;
    }
    #profile_subtitle {
        color: #777777;
    }
    #profile_links {
        background-color: #777777;
        padding: max(10px, 0.52vw);
        border-radius: max(5px, 0.26vw);
    }
    #profile_about_text {
        border-color: #777777;
    }
    #profile_picture {
        border-radius: 50%;
        overflow: hidden;
    }
}
