@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(69, 165, 101);
    display: flex;
    flex-direction: row;
}

/* Left Profile Section (It will be my description etc...) */

#left_profile {
    height: 100%;
    width: 15.625vw;
    min-width: 300px;
    background-color: rgb(69, 165, 101);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile_picture {
    margin-top: max(20px, 1.04vw);
    width: max(150px, 7.8vw);
    height: auto;
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#profile_name {
    font-family: 'Raleway', sans-serif;
    font-size: max(30px, 1.56vw);
    font-weight: 600;
    color: #000000;
    margin-top: max(8px, 0.42vw);
    text-align: center;
}

#profile_subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: max(20px, 1.04vw);
    font-weight: 400;
    color: #1b1b1b;
    text-align: center;
}

#profile_links {
    display: flex;
    gap: max(10px, 0.52vw);
    margin-top: max(20px, 1.04vw);
    flex-direction: row;
}

.profile_link {
    width: max(38px, 1.98vw);
    height: max(38px, 1.98vw);
    transition: transform 0.3s ease;
}

.profile_link:hover {
    opacity: 0.7;
}

#profile_about {
    margin-top: max(20px, 1.04vw);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#profile_about_text {
    font-family: 'Raleway', sans-serif;
    font-size: max(16px, 0.83vw);
    font-weight: 400;
    color: #000000;
    margin-top: max(20px, 1.04vw);
    padding: 0 max(10px, 0.52vw);
    text-align: center;
    border: 1px solid #000000;
    border-radius: max(5px, 0.26vw);
    width: 93%;
    padding-bottom: max(10px, 0.52vw);
    padding-top: max(10px, 0.52vw);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1);
}

#profile_tags {
    margin-top: max(30px, 1.56vw);
    display: flex;
    flex-wrap: wrap;
    gap: max(8px, 0.42vw);
    width: 93%;
    padding: 0 max(10px, 0.52vw);
    justify-content: center;
}

.profile_tag {
    font-family: 'Raleway', sans-serif;
    font-size: max(15px, 0.78vw);
    font-weight: 400;
    color: #000;
    background-color: rgb(219, 255, 222);
    border-radius: max(30px, 1.56vw);
    padding: max(5px, 0.26vw) max(10px, 0.52vw);
    width: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* Right Content Section */

#right_content{
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(96, 226, 140);
    position: relative;
}

#right_content_title {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    margin-left: 40px;
    position: relative;
    z-index: 1;
}

#right_parts_container {
    display: flex;
    flex-direction: row;
    z-index: 1;
    backdrop-filter: blur(10px);
    min-height: 100vh;
}

.profile_tag:hover {
    background-color: rgb(28, 110, 53);
}

#carroussel_projects {
    width: 90%;
    height: 90vh;
    background-color: rgba(217, 247, 183, 0.8);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #333;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 20px;
    grid-template-areas:
        "left right_up"
        "left right_down";
    padding: 20px;
}

#project_visual {
    grid-area: left;
    background-color: rgb(152, 255, 183);
    border-radius: 20px;
}

#project_description {
    grid-area: right_up;
    background-color: rgb(152, 255, 183);
    border-radius: 20px;
}

#project_link {
    grid-area: right_down;
    background-color: rgb(152, 255, 183);
    border-radius: 20px;
}

.project_carroussel_element {
    border: 3px solid #333;
}

/*RESPONSIVE ICI*/

@media (max-width: 950px) {
    body {
        flex-direction: column;
        background-color: rgb(69, 165, 101);
    }
    #left_profile {
        width: 100vw;
        background-color: transparent;
        z-index: 1;
        position: relative;
    }
    #right_content {
        position: relative;
        width: 100vw;
        height: auto;
        z-index: 0;
        background-color: rgb(69, 165, 101);
    }
    #right_content_container {
        width: 100vw;
    }
    #carroussel_projects {
        margin-top: 40px;
        width: 90vw !important;
        height: 90vw !important;
        aspect-ratio: unset;
        grid-template-columns: 1fr;
        grid-template-areas:
            "left"
            "right_up"
            "right_down";
    }
}
